/*
 * article posts
 */

 .export-outline{
  top:0px;
  right:100px;
  position:absolute;
 }

 .detail-article{
  position:relative;
 }

 .selected-answer{
  color: #2dbe60 !important;
  &:before { content: "* "; }
 }

 .selected-question{
  color: #0087F7 !important;
  &:before { content: "* "; }
 }

 .active-icon{
  color: #2dbe60 !important;
 }

 .blue-active-icon{
  color: #0087F7 !important;
 }

.article-post {
  padding:25px 5px 5px;
  max-width:700px;
  margin:0px;
  position:relative;
  &.add-icons p{
    cursor: pointer;
  }
  img{
    max-width:100%;
  }
}

.article-post-container{
  width:700px;
  margin:0px auto;
}

.article-post-title {
  margin-bottom: 5px;
  font-size: 22px;
  /*margin-left:100px;*/
}
.article-post-meta {
  margin-top:5px;
  margin-bottom: 0px;
  color: #999;
  font-size:16px;
  /*margin-left:100px;*/
}

.article-post-img{
  position:absolute;
  left:15px;
  display:inline-block;
}

.article-post a{
  color:#222;
  text-decoration: underline;
}

.article-post-meta a{
  color:#777;
}

.article-info{
  font-color:#888;
  padding-bottom:15px;
}

.highlight-section{
  border-bottom:1px dashed #ccc;
  display:inline;
  cursor: pointer;
  // color:#222;
  color: #3498db;
}

.current-highlight{
  background-color: #3498db;
  color: #fff;
  display:inline;
}

.highlight-section:hover{
  color: #222;
  background-color:#efefef;
  border-bottom:1px dashed #222;
  // color:#fff;
  // background-color: #3498db;
}

.highlight-agree{
  color: #2dbe60;
}

.highlight-disagree{
  color: #ED1556;
}

// .inline{
//   display:inline;
// }
#resource-overlay {
    -webkit-transition: all 300ms ease-out 0ms;
    -moz-transition: all 300ms ease-out 0ms;
    -o-transition: all 300ms ease-out 0ms;
    transition: all 300ms ease-out 0ms;
}

#resource-overlay{
  width:100%;
  height:100%;
  background-color:#f7f7f7;
  position:fixed;
  z-index:1000;
  display:none;
}

.interaction-icon{
  cursor: pointer;
}


/*
 * Blog posts
 */



.blog-post {
  margin-bottom: 20px;
  // padding-left:100px;
}

.item-footer{
  position:relative;
  .action-group{
    list-style-type: none;
    padding-left:0px;
    li{
      float:left;
      padding-right:10px;
      a{
        font-size:16px;
        color:#999;
        &:hover{
          color: #0087F7;
        }
      }
    }
  } 
}

.blog-post-title {
  margin-bottom: 5px;
  font-size: 22px;
  display:inline-block; 
  padding-right:150px;
  position:relative;
  /*margin-left:100px;*/
  .blog-post-topic{
    position:absolute;
    top:0px;
    right:0px;
    width:150px;
    padding-left:10px;
    font-size:14px;
    .highlighted-topic{
      display:inline-block;
      background-color: #0087F7;
      color:#fff;
      border-radius:4px;
      text-align:center;
      padding:4px;
      max-width:130px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor:pointer;
    }
    i{
      line-height: 24px;
      top: 0px;
      position: absolute;
      padding-left: 10px;
    }
  }
}

.blog-post-meta {
  margin-top:5px;
  margin-bottom: 0px;
  color: #999;
  font-size:16px;
  /*margin-left:100px;*/
}

.blog-post-img{
  position:absolute;
  left:15px;
  display:inline-block;
}

.blog-post-meta a{
  color:#777;
}

.filter-tag-container{
  position: absolute;
  top: -40px;
  height: 30px;
  width: 100%;
  line-height:30px;
}
  h2.title{
    border-bottom:1px solid #ccc;
    margin-bottom:25px;
    padding-bottom:5px;
  }
  
.list-article, .create-article{

  a{
    color:#333;
    &:hover, &:active{
      color: #3498db;
      text-decoration: none;
    }
  }
  .add{
    // top:-7px;
    top:0px;
    right:0px;
    color: #999;
    font-size:35px;
//   top: -2px;
//   color: #999;
//   font-size: 35px;
//   border: 2px solid #999;
//   border-radius: 16px;
//   width: 32px;
//   height: 32px;
//   text-align: center;
//   line-height: 20px;
  }
}

.medium-editor-hidden{
  display:none !important;
}

.editable{
  height:100%;
  font-size:16px;
  a{
    color: #3498db;
    text-decoration: underline;
  }
}

#filter{
  padding:15px;
  margin-top:10px;
  .clear-filter{
    margin-top:5px;
    width:100%;
  }
  .apply-filter{
    // position:absolute;
    // top:10px;
    // left:15px;
    margin-top:5px;
    background-color: #2dbe60;
    width:100%;
    color:#fff;
    &:hover{
      background-color:#2dbe60;
    }
  }
  .panel a{
    text-decoration:none;
    color:inherit;
    &:hover, &:active, &:visited, &:focus{
      text-decoration:none; 
      color:inherit;
    }
  }
  .panel-heading{
    padding: 10px 15px;
    background-color: #E9E9E9;
    cursor:pointer;
    border-radius:3px;
    &.panel-active{
      background-color: #0087F7;
      color: #fff;
      border-radius: 3px 3px 0px 0px;
    }
    i{
      float:right;
    }
  }
  .panel-body{
    padding:0px;
    &.general-filter-container{
      padding:15px;
      background-color:#fff;
      border: 1px solid #ccc;
      border-radius: 0px 0px 3px 3px;
      .general-option{
        font-size:16px;
        padding-bottom:5px;
        cursor: pointer;
        &.active{
          color:#0087F7;
        }
      }
    }
  }
}

#right-overlay{
  display:none;
  padding:15px;
}



