/*
 * article posts
 */
.article-post {
  padding:5px;
  width:700px;
  margin:0px;
}

.article-post-container{
  width:700px;
  margin:0px auto;
}

.article-post-title {
  margin-bottom: 5px;
  font-size: 22px;
  /*margin-left:100px;*/
}
.article-post-meta {
  margin-top:5px;
  margin-bottom: 0px;
  color: #999;
  font-size:16px;
  /*margin-left:100px;*/
}

.article-post-img{
  position:absolute;
  left:15px;
  display:inline-block;
}

.article-post-meta a{
  color:#777;
}

.article-info{
  font-color:#888;
  padding-bottom:15px;
}

.highlight-section{
  border-bottom:1px dashed #ccc;
  display:inline;
  cursor: pointer;
  color:#222;
}


