// #flashcard-review{
//   .card {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 600px;
//   height: 400px;
//   margin:0px auto;
//   background-color:#fff;
//   border-radius:5px;
//   box-shadow: 1px 1px 0 #cacaca,5px 5px 16px #d4d4d4;
//   }
// }


#flashcard-review{
  h2{
    color:#555;
    text-align:center;
    padding-top:10px;
  }
  .flip-container{
    position:relative;
    .controls{
      width:200px;
      margin:20px auto;
    }
    .arrow-right{
      width:25px;
      float:right;
      font-size:30px;
      text-align:right;
    }
    .arrow-left{
      width:25px;
      float:left;
      font-size:30px;
      text-align:left;
    }
    .review-progress-container{
      height:10px;
      width:100%;
      z-index:1;
      background-color:#e1e1e1;
      margin-bottom:10px;
    }
    .review-progress{
      z-index:2;
      height:10px;
      background-color:#2dbe60;
      width:5%;
      -webkit-transition: all 300ms ease-out 0ms;
      -moz-transition: all 300ms ease-out 0ms;
      -o-transition: all 300ms ease-out 0ms;
      transition: all 300ms ease-out 0ms;
    }
    .review-status{
      width:150px;
      margin:0px auto;
      text-align:center;
      font-size:18px;
      display:inline-block;
      line-height:36px;
    }
    .flip {
      -webkit-perspective: 800;
      width: 600px;
      height: 400px;
      position: relative;
      margin: 25px auto 10px;
    }
    .flip .card.flipped {
      -webkit-transform: rotatex(-180deg);
    }
    .flip .card {
      width: 100%;
      height: 100%;
      -webkit-transform-style: preserve-3d;
      -webkit-transition: .4s;
    }
    .flip .card .face {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-backface-visibility: hidden ;
      z-index: 2;
        // line-height: 400px;
        // text-align:center;
  display: flex;
  justify-content: center;
  align-items: center; 
    }
    .flip .card .front {
      position: absolute;
      z-index: 1;
        cursor: pointer;
        background-color:#fff;
border-radius:5px;
      box-shadow: 1px 1px 0 #cacaca,5px 5px 16px #d4d4d4;
    }
    .flip .card .back {
      -webkit-transform: rotatex(-180deg);
        cursor: pointer;
        background-color:#fff;
border-radius:5px;
      box-shadow: 1px 1px 0 #cacaca,5px 5px 16px #d4d4d4;
    }
      }
    // display: flex;
    // justify-content: center;
    // align-items: center;     
  }