/* Globals */

body {
  color: #555;
  font-weight:300;
  padding-top:50px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #999;
}

#toast-container div.toast{
  margin-top:50px;
}
/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

#main{
  margin-top:40px;
  margin-bottom:40px;
}

.alert {
  animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}

.noscroll{
  overflow: hidden;
  position:fixed;
}

// ::selection{
//   background: #D3D3D3;
//   color: #1d1d1d;
// }

::selection{
  background: #3498db;
  color: #fff;
}

.medium-editor-anchor-preview, .medium-editor-toolbar{
  z-index:50;
}