#article-interaction-grid{

  overflow-y:auto;

  /* Sidebar */
  #overlay-sidebar {
    text-align: center;
    background: #F5F5F5;
    z-index: 100;
    position: fixed;
    width: 300px;
    max-width: 100%;
    height: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 2em 1em;

/*SEARCH SIDEBAR*/
.field {
  color: #7F868F;
  padding:9px 0;
  margin: 0 15px;
  font-size:11px; 
  border-bottom: 1px solid #E4E4E4;   
}

.last-group {
  position:relative;
}

input[type="checkbox"] {
  display:none;
}

input[type="checkbox"] + label span.chbx {
  display:inline-block;
  float:right;
  margin:4px 0;
  width:12px;
  height:12px;
  background-color:#ddd;
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.10);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.10);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.10);  
}

input[type="checkbox"]:checked + label span.chbx {
  width:12px;
  height:12px;
  border:1px solid #ddd; 
  background-color:#25b981;
}

 input[type="checkbox"]:checked + label {
  color: #25b981;
}

  }

/*Interaction Item Cards*/
  .card {
    overflow: hidden;
    margin: 15px 10px;
    border-radius: 2px;
    background-color: #fff;
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    height:215px;
    width:200px;
    display:inline-block;
    float:left;
  }

  .item-body {
    overflow: hidden;
    padding: 16px;
    text-overflow: ellipsis;
    white-space: normal;
    height:200px;
  }

  .item-body p.description{
    text-overflow:ellipsis;
    height:80px;
    overflow:hidden;
  }

  .image-placeholder {
    height: 80px;
    width: 170px;
    background-color: #0087F7;
    color: #ffffff;
    margin: 0px auto 15px;    
    text-align:center;
  }

  .image-placeholder i{
    font-size:50px;
    margin-top:16px;
  }


  .grid-gallery{
    margin-left:300px;
    position:relative;
    padding-top:40px;
  }

}

/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50;
  left: 0;
  background: #F5F5F5;
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 10px;
  overflow: hidden;
  border: none;
  background: url(/img/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}

/* Effects */
html, body {
  overflow-x: hidden;
}

#wrapper {
  overflow-x: hidden;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s; 
}

#wrapper.overlay-open {
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

#wrapper::after {
  content: '';
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

#wrapper.overlay-open::after {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.overlay-contentpush {
  background: #F5F5F5;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
  transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentpush.open {
  visibility: visible;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

// @media screen and (max-height: 30.5em) {
//   .overlay nav {
//     height: 70%;
//     font-size: 34px;
//   }
//   .overlay ul li {
//     min-height: 34px;
//   }
// }


/* Grid Slideshow STyles */ 

ul.grid li{
  cursor:pointer;
  height:auto;
  margin:0px;
}

.grid-gallery ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid-gallery figure {
  margin: 0;
}

.grid-gallery figure img {
  display: block;
  width: 100%;
}

.grid-gallery figcaption h3 {
  margin: 0;
  padding: 0 0 0.5em;
}

.grid-gallery figcaption p {
  margin: 0;
}

/* Slideshow style */
.slideshow {
  position: fixed;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 500;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.slideshow-open .slideshow {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.slideshow ul {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0,0,150px);
  transform: translate3d(0,0,150px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.slideshow ul.animatable li {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.slideshow-open .slideshow ul {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.slideshow li {
  // width: 660px;
  // height: 560px;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // margin: -280px 0 0 -330px;
  // visibility: hidden;
  width: 600px;
  height: 530px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -290px 0 0 -300px;
  visibility: hidden;
}



.slideshow li.show {
  visibility: visible;
}

.slideshow li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.8);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.slideshow li.current:after {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
  transition: opacity 0.3s, visibility 0s 0.3s;
}

.slideshow figure {
  width: 100%;
  height: 100%;
  background: #fff;
  // border: 50px solid #fff;
  padding:50px;
  overflow-y: auto;
}

.slideshow figcaption {
  padding-bottom: 20px;
}

.slideshow figcaption h3 {
  font-weight: 300;
  font-size: 200%;
}

/* Navigation */
.slideshow nav span {
  position: fixed;
  z-index: 1000;
  color: #59656c;
  text-align: center;
  padding: 3%;
  cursor: pointer;
  font-size: 2.2em;
}

.slideshow nav span.nav-prev,
.slideshow nav span.nav-next {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slideshow nav span.nav-next {
  right: 0;
}

.slideshow nav span.nav-close {
  top: 0;
  right: 0;
  padding: 0.5em 1em;
  color: #31373a;
}

.icon:before,
.icon:after {
  font-family: 'fontawesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Info on arrow key navigation */
.info-keys {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 60px;
  font-size: 8px;
  padding-top: 20px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
}

.info-keys .left,
.info-keys .right {
  position: absolute;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
}

.info-keys .left {
  left: 10px;
}

.info-keys .right {
  right: 10px;
}

/* Example media queries (reduce number of columns and change slideshow layout) */

@media screen and (max-width: 60em) {
  .slideshow li {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
  }

  .slideshow li figure img {
    width: auto;
    margin: 0 auto;
    max-width: 100%;
  }

  .slideshow nav span,
  .slideshow nav span.nav-close {
    font-size: 1.8em;
    padding: 0.3em;
  }

  .info-keys {
    display: none;
  }

}