.quiz-item{

  .prompt-container{
    .prompt{
      margin-top:25px;
      border-bottom: 2px solid #ccc;
      padding-bottom: 10px;
    }
  }
  .prompt-answer-container{
    margin-top:25px;
    .answer{
      width: 100%;
      padding: 20px 10px;
      font-size: 22px;
      outline: none;
      color: #2dbe60;
      border:2px solid #f2f2f2;
    }  
  }

  .answer-container{
    display:none;
  }

}

.quiz-header{
  margin-top:15px;
}

.quiz-answer-button{
  background-color: #fff;
  border: 2px solid #2dbe60;
  color:#555;
  width: 50%;
  margin:25px auto;
  text-align: center;
  height:40px;
  clear:both;
  outline:none;
  display:inherit;
  &:hover,
  &:active,
  &:visited{
    outline:none;
  }
}


.quiz-progress{
  height:10px;
  background-color:#2dbe60;
  top:0px;
  left:299px;
  width:0%;
  position:absolute;
}
