.main-content{
  margin:50px 100px;
  position:relative;
}

#wrapper.quiz-layout.toggled,
#wrapper.flashcard-layout.toggled,
#wrapper.template-layout.toggled,
#wrapper.quiz-layout.toggled #page-content-wrapper,
#wrapper.template-layout.toggled #page-content-wrapper{
  #sidebar-wrapper{
    width:300px;
    left:300px;
    margin-left:-300px;
  }
  #sidebar-content{
    width:300px;
    padding:0px;
    ul{
      list-style-type:none;
      padding:0px;
      margin:0px;
      li{
        height:40px;
        line-height:40px;
        padding:0px 20px;
        border-bottom:1px solid #ccc;
        background-color:#f7f7f7;
      }
    }
  }
}

#wrapper.flashcard-layout.toggled #page-content-wrapper,
#wrapper.quiz-layout.toggled #page-content-wrapper,
#wrapper.template-layout.toggled #page-content-wrapper{
  padding-left:299px;
}

#wrapper.flashcard-layout{
  #sidebar-content{
    background-color:#fff;
  }
  #page-content-wrapper{
    background-color:#f2f3f4;
  }
}

#wrapper,
#page-content-wrapper {
    -webkit-transition: all 300ms ease-out 0ms;
    -moz-transition: all 300ms ease-out 0ms;
    -o-transition: all 300ms ease-out 0ms;
    transition: all 300ms ease-out 0ms;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width:200px;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    // border-right:1px solid #eee;
}

#sidebar-wrapper-right{
    z-index: 1000;
    position: fixed;
    right: 300px;
    width:0;
    height: 100%;
    margin-right: -300px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-left:3px solid #eee; 
    #sidebar-content-right{
      width:0;
      position: absolute;
      top: 0;
      right:-300px;
      margin: 0;
      padding: 0;
      list-style: none;
      // border-right:1px solid #dcdcdc;
      height:100%;
      overflow:auto;
      background-color:#fff;
      h5{
        text-align: left;
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
        padding-left: 15px;
        font-size: 16px;
      }
    }
}

.tab-content{
  padding:10px;
}

.sidebar-module ul.nav-sidebar{
   li a{
    color: #333;
    &:hover,
    &:active,
    &:focus{
      color: #0087F7;
      margin-right:-20px;
    }
  }
}

#sidebar-content{
  width:200px;
  position: absolute;
  top: 0;
  left:-200px;
  margin: 0;
  padding: 0;
  list-style: none;
  // border-right:1px solid #dcdcdc;
  height:100%;
  overflow:auto;
  background-color:#f7f7f7;
}

#sidebar-content h5{
  text-align:left;
  border-bottom:1px solid #ddd;
  padding-bottom:15px;
  margin-bottom:0px;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  color:#222;
  font-size:16px;
}

#sidebar-content form{
  padding-top:20px;
}

#sidebar-nav{
  width:49px;
  position: absolute;
  top: 0;
  right:0;
  margin: 0;
  padding: 0;
  list-style: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#wrapper.create #sidebar-wrapper .list-group-item{
  background-color:#f7f7f7;
}

#wrapper.toggled-right-sidebar{
  #page-content-wrapper {
      padding-right:300px;
      .main-content{
        margin:50px;
      }
  }
  #sidebar-wrapper-right{
    width:300px;
    #sidebar-content-right{
      right:0;
      padding:20px 0px;
      height:100%;
      width:300px;
      background-color:#f7f7f7;
      border-left:1px solid #eee;
    }
  }
}

#wrapper.toggled.full #sidebar-wrapper {
  width:100%;
}

#wrapper.toggled #sidebar-content {
    left: 0;
    padding: 20px;
    height:100%;
}

#wrapper.toggled.full #sidebar-content {
  padding-right:50px;
  width:100%;
}

#page-content-wrapper {
    position: absolute;
    // padding: 15px;
    padding:0px;
    width:100%;
    // background-color:#f3f4f5;
    background-color:#fff;
    // border-left:1px solid #dcdcdc;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    padding-left:200px;
}

#wrapper.article-detail{
  padding-left: 50px;
  &.toggled{
    #sidebar-wrapper {
      width: 400px;
      #sidebar-content{
        left:0px;
      }
    }
    #page-content-wrapper {
        padding-left:400px;
        margin-left:-50px;
    }
  }
  #page-content-wrapper{
    p{
          font-size:18px;
          font-color:#2d2d2d;
          line-height:1.7em;
          position:relative;
          margin-bottom:0px;
          padding-bottom:40px;
    }
  }
  #sidebar-wrapper {
      left: 400px;
      width: 50px;
      margin-left: -400px;

    #sidebar-content{
      width:349px;
      left:-349px;
    }
  }
}

#sidebar-nav li {
    line-height: 22px;
    padding:5px;
}

#sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
    font-size:16px;
    text-align:center;
    outline:none;
}

#sidebar-nav li a:hover {
    text-decoration: none;
    color: #555;
}

#sidebar-nav li a:active,
#sidebar-nav li a:focus {
    text-decoration: none;
}

#sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

#sidebar-nav > .sidebar-brand a {
    color: #999999;
}

#sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#sidebar-content .nav-tabs > li.active > a, 
#sidebar-content .nav-tabs > li.active > a:hover, 
#sidebar-content .nav-tabs > li.active > a:focus{
  border-radius:0;
  background-color:inherit;
  border:none;
  // border-top:1px solid #ccc;
}

#sidebar-content .nav-tabs > li > a{
  border-radius:0;
  background-color:inherit;
  border:none;
  padding:12px 10px;
}

#sidebar-content .nav-tabs{
  margin-bottom:25px;
}

// .add-highlight{
//   position:absolute;
//   top:0px;
//   right:20px;
//   font-size:24px;
//   background-color:inherit;
//   outline:none;
//   border:none;
//   display:none;
//   &:hover, &:active, &:focus, &:visited{
//     outline:none;
//   }
// }

// .add-icon{
//   position:absolute;
//   top:0px;
//   right:50px;
//   font-size:24px;
//   background-color:inherit;
//   outline:none;
//   border:none;
//   display:none;
//    &:hover, &:active, &:focus, &:visited{
//     outline:none;
//   } 
// }

#wrapper.toggled {
  .add-icon.active,
  .add-highlight.active{
    color: #2dbe60;
  }
}

#wrapper.toggled .add-icon,
#wrapper.toggled .add-highlight,
#wrapper.toggled .close, 
#wrapper.toggled .expand,
#wrapper.toggled .tags,
#wrapper.toggled .quiz,
#wrapper.toggled .choose-answer,
#wrapper.toggled .choose-question {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 24px;
    text-align:center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border:none;
    background:transparent;
    outline:none;
    color:#ccc;
    opacity: 1;
    top:10px;
}

#wrapper.toggled .quiz{
  font-size:22px !important;
}

.add-icon{
  right:65px;
  font-size:22px !important;;
}

.add-highlight{
  right:65px;
  font-size:22px !important;;
}

.expand{
  right: 130px;
}

.question-container label{
  margin-top:10px;
}

.choose-answer{
  right:115px;
  font-size:22px !important;
}

.choose-question{
  right:170px;
  font-size:22px !important;
}

.quiz{
  right:90px;
}

button.tags{
  right:35px;
  font-size:20px !important;
}

.close {
  right: 5px;
}

.tags,
.close, 
.expand,
.add-icon,
.add-highlight,
.quiz{
  display:none;
}

btn.close, 
btn.expand,
btn.tags, 
btn.add-icon,
btn.add-highlight,
btn.quiz {
  &:focus,
  &:active,
  &:visited {
    outline:none;
  }
}


.mc-answer-choice{
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
}
.mc-question-input-wrapper{
  padding-right:10px;
}

.popover-tags{
  top: 90px;
  left: 162.5px;
  display: block;
  width: 250px;
}

.tag-input{
  width:200px;
}

.save-sidebar-button button{
    background-color: #2dbe60;
    width: 100%;
    color: #fff;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:10px;
    border:1px solid #fff;
    margin-bottom:10px;
}
