.builder-question-list{
  // background-color:#dedede;
  padding:40px;
  .sortable-ghost{
    width: 100%;
    height:40px;
    border:2px dotted #ccc;

    .option-content{
      display:none;
    }
    .question-content{
      display:none;
    }
  }
  .question-content{
    display:block;
  }
  .option-content{
    display:none;
  }
}

.builder-option-list{
  li{
    display: inline-block;
    background-color: #1abc9c;
    margin-bottom: 9px;
    box-sizing: border-box;
    color:#fff;
    padding:5px 10px;
  }
  .option-content{
    display:block;
  }
  .question-content{
    display:none;
  }
}