/* Topic */
.topic-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.add-topic{
  border: none;
  outline: none;
  background-color: inherit;
  width: 100%;
  padding: 5px;
  padding-left:0px;
  color: #0087F7;
  text-transform: uppercase;
}

.topic-list h3 {
  cursor:pointer;
  margin: 0;
  padding:15px 15px 15px 0px;
  border-bottom: 1px solid #ddd;
  font-size:20px;
  font-weight: 300;
  color:#777;
  a{
    color:#777;
    text-decoration: none;
  }
}

.topic-list .number-badge{
    display: inline-block;
    min-width: 10px;
    padding: 4px 8px;
    color: #fff;
    font-size:16px;
    text-align: center;
    white-space: nowrap;
    background-color: #0087F7;
    border-radius: 10px;
    float:right;
    margin-right:10px;
    margin-top:4px;
}

.topic-list h3:hover{
  a:hover{
    color: #0087F7;
    text-decoration: none;
  }
  color:#0087F7;
}

.topic-list h3:first-child{
  border-top:1px solid #ddd;
}

h2.topic-week{
  text-align:left;
  color:#555;
  font-size:2em;
  padding-bottom:10px;
  position:relative;
  display:inline-block;
}

input.topic-search{
  display:inline-block;
  float:right;
  width:200px;
  height:35px;
  border:none;
  text-align:right;
  // border-bottom: 2px solid #ccc;
  outline:none;
}

h2.topic-week .date-range{
  color:#999;
  font-size:.75em;
  padding:0px 10px;
}

h2.topic-week .right-icon{
  position:absolute;
  // top:10px;
  right:0px;
  // padding:10px;
  display:inline-block;
  cursor:pointer;
}

h2.topic-week .left-icon{
  position:absolute;
  // top:10px;
  left:0px;
  // padding:10px;
  display:inline-block;
  cursor:pointer;
}

h2.topic-week .left-icon:hover,
h2.topic-week .right-icon:hover{
  // background-color: purple;
  color:#0087F7;
}