.datepicker{
  z-index:10000 !important;
}

.circle
    {
    line-height:40px;
    text-align:center;
    margin:0px auto 0px;
    background-color:#999;
    color:#fff;
    width:40px;
    height:40px;
    border-radius:20px;
    display:inline-block;
}

div.rating{
  padding:10px;
  cursor:pointer;
}

.rating-bubble {
    width:25px;
    height:25px;
    line-height:25px;
  position: relative;
  display: inline-block;
  border-radius: 25px;
  background: #008fe2;
  color: white;
  text-align: center;
  margin: 2px 4px 5px;
}

div.rating .rating-bubble{
    margin:2px 0px 5px;
}

.rating-bubble:hover{
    background-color: #28b779;
    cursor:pointer;
}

.rating-bubble.selected{
    background-color: #28b779;
}

.list{
  margin-bottom:25px;
}

.vertical-align{
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .close{
  display:inline-block;
}

.swatch {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: block;
  text-indent: -1000px;
  float: left;
  overflow: hidden;
  margin: 0 1em 1em 0;
}

.nav-tabs{
  padding:0px 15px;
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus {
  color: #2196f3;
}
.tab-content{
  padding-top:20px;
}

.dropdown-full{
  width:100%;
}

.sidebar-selectable{
  .search{
    position: relative;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    padding: 5px;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    margin-bottom:10px;
    input{
      border-bottom:none;
    }
  }

  .sidebar-menu-items {
      list-style-type: none;
      padding: 0px;
      margin: 0px;
    li {
      &:hover{
        background-color:#0087F7;
        color:#fff;
      }
      height: 40px;
      line-height: 40px;
      padding: 0px 20px;
      border-bottom: 1px solid #ccc;
      background-color: #fff;
      font-size:16px;
      cursor:pointer;
      i{
        // float:left;
      }
      span{
        padding-left:5px;
      }
    }
  }
}