.circle
    {
    line-height:40px;
    text-align:center;
    margin:0px auto 0px;
    background-color:#999;
    color:#fff;
    width:40px;
    height:40px;
    border-radius:20px;
    display:inline-block;
}

.list{
  margin-bottom:25px;
}

.vertical-align{
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .close{
  display:inline-block;
}

.swatch {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: block;
  text-indent: -1000px;
  float: left;
  overflow: hidden;
  margin: 0 1em 1em 0;
}