<Template name="createQuizSidebar">
  <div id="sidebar-content" class="builder-option-content">
    <h3 style="text-align:center; margin-top:15px; margin-bottom:15px;"><i class="fa fa-list-ol"></i> Quiz Builder</h3>
    <ul class='builder-option-list'>
      {{#each builderOptionList}}
        <li>
          <div class='option-content' data-key="{{name}}">
          <i class="fa {{value.icon}}"></i> {{value.label}}
          </div>
          <div class="question-content">
            {{> Template.dynamic template=value.quiz_create_template}}
          </div>
        </li>
      {{/each}}
    </ul>
    <div class="action-buttons-container">
      <button class='btn btn-option-list-action btn-preview'>Preview</button>
      <button class='btn btn-option-list-action btn-save'>
        {{#if detailMode}}
        Update
        {{else}}
        Save
        {{/if}}
      </button>
      <button class='btn btn-option-list-action btn-clear'>
        {{#if detailMode}}
        Delete
        {{else}}
        Clear
        {{/if}}
      </button>
    </div>
      
  </div>
</Template>