<template name="takeQuizSidebar">
  <div id="sidebar-content">
    <div class="quiz-results">
      <h3>Results</h3>
      <ul class="list-group summary">
      <li class="list-group-item">
        <span class="badge">{{questionsRemaining}}</span>
        Remaining
      </li>
      <li class="list-group-item">
        <span class="badge">{{questionsCorrect}}</span>
        Correct
      </li>
      <li class="list-group-item">
        <span class="badge">{{questionsIncorrect}}</span>
        Incorrect
      </li>
    </ul>
      <!-- <div class="remaining clearfix">
        <label>Remaining:</label>
        <span>{{questionsRemaining}}</span>
      </div>
      <div class="correct clearfix">
        <label>Correct:</label>
        <span>{{questionsCorrect}}</span>
      </div>
      <div class="incorrect clearfix">
        <label>Incorrect:</label>
        <span>{{questionsIncorrect}}</span>
      </div> -->
      <!-- {{#if isRetake}} -->
      <h3 class='quiz-quick-jump-header'>Questions</h3>
      <div class="quiz-quick-jump">
        <ul id="quick-jump" class='clearfix'>
        {{#each quickJump}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
      </div>
      <!-- {{/if}} -->
    </div>
    <div class="quiz-actions">
      <button class="restart quiz-action-button">
        <i class="fa fa-refresh spacing-right-5"></i> Restart
      </button>
<!--       <button class="edit quiz-action-button">
        <i class="fa fa-pencil spacing-right-5"></i> Edit This Question
      </button> -->
    </div>
  </div>
</template>