<template name="takeQuiz">
<div id="quiz-section">
  <i class="view-comment fa fa-comment"></i>
  <h2 class='quiz-header'>Question {{questionIndex}})</h2>
    {{> Template.dynamic template=questionTemplate data=questionData}}

  <button class='quiz-answer-button'><i class="fa fa-paper-plane-o"></i> Answer</button>
  <div class="quiz-grade-container clearfix">
    <hr>
    <button class='quiz-mark-correct'><i class="fa fa-check-circle-o"></i> Correct</button>
  <button class='quiz-mark-incorrect'><i class="fa fa-times-circle-o"></i> Incorrect</button>
  </div>
  <div id="comments">
    <h3>My Comments</h3>
    {{questionData.comments}}
  </div>
</div>
<div id='quiz-summary'>
  <h2 class='quiz-header'>Quiz Summary</h2>
  <ul class="list-group summary">
    <li class="list-group-item">
      <span class="badge">{{correct}}</span>
      Correct
    </li>
    <li class="list-group-item">
      <span class="badge">{{incorrect}}</span>
      Incorrect
    </li>
    <li class="list-group-item">
      <span class="badge">{{score}}%</span>
      Score
    </li>
    <li class="list-group-item">
      <span class="badge">{{duration}}</span>
      Duration
    </li>
  </ul>
  <div class="summary-buttons">
    <button class="quiz-action-button quiz-retake-incorrect">Retake Incorrect</button>
    <button class="quiz-action-button quiz-retake-all">Retake Quiz</button>
    <button class="quiz-action-button quiz-return-home">Return Home</button>
  </div>
</div>
</template>