<template name="takeQuizSidebar">
  <div id="sidebar-content">
    <div class="quiz-results">
      <h3>Results</h3>
      <div class="remaining clearfix">
        <label>Remaining:</label>
        <span>{{questionsRemaining}}</span>
      </div>
      <div class="correct clearfix">
        <label>Correct:</label>
        <span>{{questionsCorrect}}</span>
      </div>
      <div class="incorrect clearfix">
        <label>Incorrect:</label>
        <span>{{questionsIncorrect}}</span>
      </div>
    </div>
    <div class="quiz-actions">
      <button class="restart">
        Restart
      </button>
      <button class="edit">
        Edit
      </button>
      <button class="history">
        History
      </button>
    </div>
  </div>
</template>