<template name="detailTopic">
  <div class="detail-topic main-content">
        <!-- <button class='btn btn-filter btn-default'><i class="fa fa-sliders"></i> Filter</button>  -->
        <!-- <a href="{{pathFor 'createArticle'}}" class="add">+</a> -->
    <h2 class='title'><a href="{{pathFor 'listTopic'}}" class="title-back"><i class="fa fa-chevron-left"></i></a>{{title}}</h2>
    <div class="topic-list">
      {{#each topicArticles}}
        {{> listItemArticle}}
      {{else}}
      <h4>Bummer. There are no articles associated with this topic.</h4>
      {{/each}}
    </div>
  </div>
{{> tagModal }}
</template>