<template name="listTopic">
  <div class="list-article main-content">
    <h2 class='title no-margin-bottom'>My Topics</h2>
    <div class='topic-search'>
      <i class="fa fa-search"></i>
      <input type="text" placeholder="search topics"  />
    </div>
    <div class="topic-list">
      <h3><input type="text" placeholder="add topic" class='add-topic form-input' /></h3>
      {{#each topics}}
        <h3><a href="{{pathFor 'detailTopic'}}">{{title}}</a><span class="number-badge">4</span></h3>
      {{/each}}
    </div>
  </div>
</template>