<template name="listTopic">
  <div class="container page">
    <div class="row">
      <div class="col-md-3 blog-sidebar">
        {{> mainSidebar }}
      </div>
      <div class="col-md-8 list-article main-content">
        
        <h2 class='topic-week vertical-align'>My Topics</h2>
        <input type="text" placeholder="search" class="topic-search" />
        <div class="topic-list">
          <h3><input type="text" placeholder="add topic" class='add-topic form-input' /></h3>
          {{#each topics}}
            <h3><a href="{{pathFor 'detailTopic'}}">{{title}}</a><span class="number-badge">4</span></h3>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>