<template name="quizDropdown">
  <div class="quiz-item">
    <div class="prompt-container">
      <h3 class="prompt">{{question_label}}</h3>
    </div>
    <div class="prompt-answer-container">
      <input type="text" placeholder='please add quote source' class="answer">
    </div>
    <div class="answer-container">
      <h3>Answer</h3>
      <p>{{source}}</p>
    </div>
  </div>
</template>

<template name="quizCreateDropdown">
  <div class="builder-dropdown builder-item">
    <h3><input type="text" name="question" placeholder="question" class="item-question" value="{{answer}}" /></h3>
    <div class="option-full">
      <div class="dropdown-list option-list">
        {{#each options}}
          <div class="dropdown-item option-item">
            <input type="radio" class='item-multiple-choice-radio' />
            <input type="text" value="{{this}}" class='item-dropdown-text item-option-text' />
            <span class='item-remove'><i class="fa fa-minus-square"></i></span>
          </div>
        {{else}}
          <div class="dropdown-item option-item">
            <input type="text" class='item-dropdown-text item-option-text' />
            <span class='item-remove'><i class="fa fa-minus-square"></i></span>
          </div>
        {{/each}}
      </div>
      <div class='item-add'><i class="fa fa-plus-square"></i></div>
      <input type="text" name="description" placeholder="add a longer description to this field" class="item-description" value="{{description}}" /> 
    </div>
    <span class='builder-item-remove'><i class="fa fa-minus-square"></i></span>
    <span class='builder-item-expand'><i class="fa fa-caret-down"></i></span>
  </div>
</template>


<template name="displayDropdown">
  <h3 class="template-builder-question">{{question}}</h3>
</template>

<template name="templateDropdown">
    <label class="fs-field-label fs-anim-upper" for="q{{index}}" data-info="{{value.description}}">{{value.title}}</label>
    <div class="fs-anim-lower">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdown{{index}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{dropdown_current_selection}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu{{index}}">
          {{#each value.options}}
          <li><a href="#">{{this}}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>
</template>

<template name="editDropdown">
  <div class="builder-dropdown builder-item">
    <h3><input type="text" name="question" placeholder="question" class="item-question" value="{{title}}" /></h3>
    <div class="option-full">
      <div class="dropdown-list option-list">
        {{#each options}}
          <div class="dropdown-item option-item">
            <input type="text" value="{{this}}" class='item-dropdown-text item-option-text' />
            <span class='item-remove'><i class="fa fa-minus-square"></i></span>
          </div>
        {{else}}
          <div class="dropdown-item option-item">
            <input type="text" class='item-dropdown-text item-option-text' />
            <span class='item-remove'><i class="fa fa-minus-square"></i></span>
          </div>
        {{/each}}
      </div>
      <div class='item-add'><i class="fa fa-plus-square"></i></div>
      <input type="text" name="description" placeholder="add a longer description to this field" class="item-description" value="{{description}}" /> 
    </div>
    <div class="required-container">
      <label for="required" class='small'>required</label>
      <input type="checkbox" class='item-required' checked="{{required}}"  name="required" />
    </div>
    <span class='builder-item-remove'><i class="fa fa-minus-square"></i></span>
    <span class='builder-item-expand'><i class="fa fa-caret-down"></i></span>
  </div>
</template>

