<template name="displayInfo">
  <h3 class="template-builder-question">{{question}}</h3>
</template>

<template name="templateInfo">
    <label class="fs-field-label fs-anim-upper" for="q{{index}}">{{value.title}}</label>

    <div class="fs-anim-lower">
      <p>{{value.description}}</p>
      <!-- <button>Got it</button> -->
    </div>
</template>

<template name="editInfo">
  <div class="builder-info builder-item">
    <h3><input type="text" name="question" placeholder="information box title" class="item-question" value="{{title}}" /></h3>
    <textarea class='item-description' name="text" value="{{description}}"></textarea>
    <span class='builder-item-remove'><i class="fa fa-minus-square"></i></span>
  </div>
</template>
