<template name="quizMultipleChoice">
  <div class="quiz-item">
    <div class="prompt-container">
      <h3 class="prompt">{{question}}</h3>
    </div>
    <div class="prompt-answer-container">
      <ul>
        {{#each addIndex options}}
          <li>
            <label for="choice-{{index}}">{{value}}</label>
            <input type="radio" name="choice-{{index}}" />
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="answer-container">
      <h3>Answer</h3>
      <p>{{answer}}</p>
    </div>
  </div>
</template>


<template name="quizCreateMultipleChoice">
  <div class="builder-multiple-choice builder-item">
    <h3><input type="text" name="question" placeholder="question" class="item-question" value="{{question}}" /></h3>
    <div class="option-full">
      <div class="multiple-choice-list option-list">
          {{#each options}}
          <div class="multiple-choice-item option-item">
            <span class="radio fa fa-circle-thin"></span>
            <!-- <input type="radio" name='multiple' class='item-multiple-choice-radio' /> -->
            <input type="text" value="{{this}}" class='item-multiple-choice-text item-option-text' />
            <span class='item-remove'><i class="fa fa-minus-square"></i></span>
          </div>
          {{else}}
          <div class="multiple-choice-item option-item">
            <span class="radio fa fa-circle-thin"></span>
            <!-- <input type="radio" name='multiple' class='item-multiple-choice-radio' /> -->
            <input type="text" class='item-multiple-choice-text item-option-text' />
            <span class='item-remove'><i class="fa fa-minus-square"></i></span>
          </div>
          {{/each}}
      </div>
      <div class='item-add'><i class="fa fa-plus-square"></i></div>
      <input type="text" name="description" placeholder="add a longer description to this field" class="item-description" value="{{description}}" /> 
    </div>
    <span class='builder-item-remove'><i class="fa fa-minus-square"></i></span>
    <!-- <span class='builder-item-expand'><i class="fa fa-caret-down"></i></span> -->
  </div>
</template>


<template name="displayMultipleChoice">
  <h3 class="template-builder-question">{{question}}</h3>
</template>

<template name="templateMultipleChoice">
    <label class="fs-field-label fs-anim-upper" for="q{{index}}" data-info="{{value.description}}">{{value.title}}</label>
    <div class="fs-anim-lower">
      <ul class='sidebar-menu-items'>
        {{#each value.options}}
        <li>
          <i class="fa fa-circle-o"></i>
          <!-- <input type="radio" class='item-multiple-choice-radio' /> -->
          <span>{{this}}</span>
        </li>
        {{/each}}
      </ul>
    </div>
</template>

<template name="editMultipleChoice">
  <div class="builder-multiple-choice builder-item">
    <h3><input type="text" name="question" placeholder="question" class="item-question" value="{{title}}" /></h3>
    <div class="option-full">
      <div class="multiple-choice-list option-list">
          {{#each options}}
          <div class="multiple-choice-item option-item">
            <input type="radio" false onclick="javascript: return false;" class='item-multiple-choice-radio' />
            <input type="text" value="{{this}}" class='item-multiple-choice-text item-option-text' />
            <span class='item-remove'><i class="fa fa-minus-square"></i></span>
          </div>
          {{else}}
          <div class="multiple-choice-item option-item">
            <input type="radio" false onclick="javascript: return false;" class='item-multiple-choice-radio' />
            <input type="text" class='item-multiple-choice-text item-option-text' />
            <span class='item-remove'><i class="fa fa-minus-square"></i></span>
          </div>
          {{/each}}
      </div>
      <div class='item-add'><i class="fa fa-plus-square"></i></div>
      <input type="text" name="description" placeholder="add a longer description to this field" class="item-description" value="{{description}}" /> 
    </div>
    <div class="required-container">
      <label for="required" class='small'>required</label>
      <input type="checkbox" class='item-required' checked="{{required}}"  name="required" />
    </div>
    <span class='builder-item-remove'><i class="fa fa-minus-square"></i></span>
    <span class='builder-item-expand'><i class="fa fa-caret-down"></i></span>
  </div>
</template>


