<template name="quizParagraph">
  <div class="quiz-item">
    <div class="prompt-container">
      <h3 class="prompt">{{question}}</h3>
    </div>
    <div class="prompt-answer-container">
      <textarea type="text" class="answer"></textarea>
    </div>
    <div class="answer-container">
      <h3>Answer</h3>
      <p>{{answer}}</p>
    </div>
  </div>
</template>

<template name="quizCreateParagraph">
  <div class="builder-paragraph builder-item">
    <h3><input type="text" name="question" placeholder="question" class="item-question" value="{{question}}" /></h3>
    <div>
      <textarea class='item-placeholder' placeholder="please enter answer" name='item-placeholder' >{{answer}}</textarea>
    </div>
    <input type="text" name="description" placeholder="add a description to this field" class="item-description" value="{{description}}" /> 
    <span class='builder-item-remove'><i class="fa fa-minus-square"></i></span>
  </div>
</template>

<template name="displayParagraph">
  <h3 class="template-builder-question">{{question}}</h3>
  <div class="text-placeholder"></div>
</template>

<template name="templateParagraph">
  <label class="fs-field-label fs-anim-upper" for="q{{index}}" data-info="{{value.description}}">{{value.title}}</label>
  <textarea class="fs-anim-lower" id="q{{index}}" name="q{{index}}" placeholder="{{value.placeholder}}" {{isRequired}}></textarea>
</template>



<template name="editParagraph">
  <div class="builder-paragraph builder-item">
    <h3><input type="text" name="question" placeholder="question" class="item-question" value="{{title}}" /></h3>
    <div class="text-area-placeholder">
      <input type="text" class='item-placeholder' placeholder="placeholder description" name='item-placeholder' value="{{placeholder}}" />
    </div>
    <input type="text" name="description" placeholder="add a longer description to this field" class="item-description" value="{{description}}" /> 
    <div class="required-container">
      <label for="required" class='small'>required</label>
      <input type="checkbox" class='item-required' checked="{{required}}"  name="required" />
    </div>
    <span class='builder-item-remove'><i class="fa fa-minus-square"></i></span>
  </div>
</template>

