<template name="displayTrueFalse">
  <h3 class="template-builder-question">{{question}}</h3>
</template>

<template name="editTrueFalse">
  <div class="builder-checkbox builder-item">
    <h3><input type="text" name="question" placeholder="question" class="item-question" /></h3>
    <div class="checkbox-list">
    <div class="checkbox-item">
      <!-- <input type="checkbox" class='item-checkbox' /> -->
      <span class='chbx'></span>
      <input type="text" class='item-checkbox-text' />
      <span class='item-remove'><i class="fa fa-minus-square"></i></span>
    </div>
    </div>
    <div class='item-add'><i class="fa fa-plus-square"></i></div>
    <input type="text" name="description" placeholder="add a longer description to this field" class="item-description" /> 
    <div class="required-container">
      <label for="required" class='small'>required</label>
      <input type="checkbox" class='item-required' name="required" />
    </div>
    <span class='builder-item-remove'><i class="fa fa-minus-square"></i></span>
  </div>
</template>
