<template name="articleLayout">
    {{> articleHeader }}
    {{> errors}}
    <div id="wrapper" class='tk-proxima-nova'>
      <div id="sidebar-wrapper">
        <div id="sidebar-content">
          {{> Template.dynamic template=whichOne data=whichData}}
        </div>
        <ul id="sidebar-nav">
          {{#each interactionList }}
          <li>
            <a data-toggle="tooltip" data-placement="right" data-container="body" title="{{value.label}}" href="#">
              <i data-template="create{{value.template}}" class="fa {{value.icon}}"></i>
            </a>
          </li>
          {{/each}}
        </ul>  
        <button class="close"><i class="fa fa-times-circle-o"></i></button>
        <button class='expand'><i class="fa fa-arrows-h"></i></button>
        <button class="tags tag-trigger"> <i class="fa fa-tags"></i> </button>
      </div>        

<div id="page-content-wrapper">
  <div class="article-post-container">
    <div class="article-post">
      {{> yield}}
      <button class='add-highlight'><i class="fa fa-pencil-square"></i></button>
    </div>
  </div>

      </div>
    </div>
{{> listInteractions }}

</template>