<template name="articleLayout">
    {{> articleHeader }}
    {{> errors}}
    <div id="wrapper">
      <div id="sidebar-wrapper">
        <div id="sidebar-content">
          
        </div>
        <ul id="sidebar-nav">
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Quiz" href="#"><i class="fa fa-quote-left"></i></a></li>
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Interesting Fact" href="#"><i class="fa fa-exclamation"></i></a></li>
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Quiz Question" href="#"><i class="fa fa-question"></i> </a></li>
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Flash Card" href="#"><i class="fa fa-list-alt"></i> </a></li>
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Future Topic" href="#"><i class="fa fa-share"></i> </a></li>
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Key Concept" href="#"><i class="fa fa-key"></i> </a></li>
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Definition" href="#"><i class="fa fa-pencil-square-o"></i> </a></li>
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Agree" href="#"><i class="fa fa-plus"></i> </a></li>
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Disagree" href="#"><i class="fa fa-minus"></i> </a></li>
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Timeline" href="#"><i class="fa fa-list"></i> </a></li>
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Double Check" href="#"><i class="fa fa-check"></i> </a></li>
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Mneumonic" href="#"><i class="fa fa-graduation-cap"></i></a></li>
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Inspiration" href="#"><i class="fa fa-lightbulb-o"></i></a></li>
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="New Idea" href="#"><i class="fa fa-info-circle"></i></a></li>
        </ul>  
      </div>        

<div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                  <div class="col-md-10 col-md-offset-1">
                    {{> yield}}
                  </div>
                </div>
        </div>
      </div>
    </div>
</template>