<template name="articleLayout">
    {{> articleHeader }}
    {{> errors}}
    <div id="wrapper" class='tk-proxima-nova'>
      <div id="sidebar-wrapper">
        <div id="sidebar-content">
          
        </div>
        <ul id="sidebar-nav">
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Quote" href="#"><i data-template="createQuote" class="fa fa-quote-left"></i></a></li>
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Interesting Fact" href="#"><i data-template="createFact" class="fa fa-exclamation"></i></a></li>
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Quiz Question" href="#"><i data-template="createQuiz" class="fa fa-question"></i> </a></li>
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Flash Card" href="#"><i data-template="createFlashCard" class="fa fa-list-alt"></i> </a></li>
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Future Topic" href="#"><i data-template="createFutureTopic" class="fa fa-share"></i> </a></li>
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Key Concept" href="#"><i data-template="createConcept" class="fa fa-key"></i> </a></li>
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Definition" href="#"><i data-template="createDefinition" class="fa fa-pencil-square-o"></i> </a></li>
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Agree" href="#"><i data-template="createReaction" class="fa fa-plus"></i> </a></li>
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Disagree" href="#"><i data-template="createReaction" class="fa fa-minus"></i> </a></li>
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Timeline" href="#"><i data-template="createTimeline" class="fa fa-list"></i> </a></li>
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Double Check" href="#"><i data-template="createVerification" class="fa fa-check"></i> </a></li>
<!--           <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Mneumonic" href="#"><i data-template="" class="fa fa-graduation-cap"></i></a></li> -->
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="Inspiration" href="#"><i data-template="createInspiration" class="fa fa-lightbulb-o"></i></a></li>
          <li><a data-toggle="tooltip" data-placement="right" data-container="body" title="New Idea" href="#"><i data-template="createIdea" class="fa fa-info-circle"></i></a></li>
        </ul>  
        <!-- <a href="" class="toggle-nav"> <i class="fa fa-angle-right"></i> </a> -->
      </div>        

<div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    {{> yield}}
                  </div>
                </div>
        </div>
      </div>
    </div>
</template>