<template name="header">
  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img src="img/noteable-logo-2.jpg" class='logo' alt="Noteable" />
        <a class="navbar-brand" href="{{pathFor 'home'}}">Noteable</a>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
          {{#if currentUser}}
          {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><img data-name="Justin Roethle" class="initial img-rounded" /></li> -->

          {{> loginButtons}}
        </ul>
      </div>
    </div>
  </nav>
</template>