<template name="home">
  <div class="container page">
    <div class="row">
      <div class="col-md-3 blog-sidebar">
        <div class="sidebar-module">
          <ul class="nav nav-sidebar">
            <li><a href="{{pathFor 'listTopic'}}"><i class="fa fa-bars menu-icon"></i>My Topics</a></li>
            <li><a href="#"><i class="fa fa-search menu-icon"></i>Browse</a></li>
            <li><a href="#"><i class="fa fa-file-text-o"></i>Templates</a></li>
            <li><a href="#"><i class="fa fa-retweet"></i>Review</a></li>
            <li><a href="#"><i class="fa fa-bolt"></i>Quiz</a></li>
            <li><a href="#"><i class="fa fa-list-alt"></i>Flashcards </a></li>
            <li><a href="#"><i class="fa fa-book menu-icon"></i>Learn</a></li>
            <li><a href="#"><i class="fa fa-cogs menu-icon"></i>Settings</a></li>
            <li><a href="#"><i class="fa fa-folder-open-o menu-icon"></i>Categories</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 blog-main">
        <h2 class='topic-week vertical-align'><i class="fa fa-angle-left left-icon"></i> Week # <span class='date-range'>3/1/2015 - 3/8/2015</span> <i class="fa fa-angle-right right-icon"></i></h2>
        <div class="topic-list">
          {{#each topics}}
            <h3><a href="{{pathFor 'detailTopic'}}">{{title}}</a><span class="number-badge">4</span></h3>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>