<template name="mainSidebar">
          <div class="sidebar-module">
          <ul id="main-menu" class="nav nav-sidebar">
            <!-- <li><img class="initial img-rounded" /></li> -->
            <li><a href="{{pathFor 'listArticle'}}"><i class='fa fa-fw fa-book'></i>Library</a></li>
            <li><a href="{{pathFor 'listTopic'}}"><i class="fa fa-fw fa-bars menu-icon"></i>Topics</a></li>
            <!-- <li><a href="{{pathFor 'browseArticle'}}"><i class="fa fa-fw fa-search menu-icon"></i>Popular</a></li> -->
            <li><a href="{{pathFor 'thisWeekTopic'}}"><i class="fa fa-fw fa-calendar"></i>This Week</a></li>
            <!-- <li><a href="#"><i class="fa fa-retweet"></i>Review</a></li> -->
            <li><a href="{{pathFor 'listQuizes'}}"><i class="fa fa-fw fa-bolt"></i>Quiz</a></li>
            <li><a href="{{pathFor 'reviewFlashcards'}}"><i class="fa fa-fw fa-clone"></i>Review</a></li>
            <li><a href="{{pathFor 'listTemplate'}}"><i class="fa fa-fw fa-file-text-o"></i>Templates</a></li>
            <li><a href="{{pathFor 'detailSettings'}}"><i class="fa fa-fw fa-cogs menu-icon"></i>Settings</a></li>
            <li><a href="{{pathFor 'learnHome'}}"><i class="fa fa-fw fa-graduation-cap menu-icon"></i>Learn</a></li>
            <!-- <li><a href="#"><i class="fa fa-folder-open-o menu-icon"></i>Categories</a></li> -->
          </ul>
        </div>
</template>