<template name="quizLayout">
  {{> quizHeader }}
  <div id="wrapper" class='quiz-layout toggled tk-proxima-nova watch-keys'>
    <div id="sidebar-wrapper">
      {{> yield region='sidebar'}}
    </div>        
    <div id="page-content-wrapper">
      <div class="quiz-progress" style="width:{{progress}}%"></div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            {{> yield}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>