<template name="quizHeader">
  <nav class="navbar navbar-fixed-top" role="navigation">
    <a href="#" class="app-back"><i class="fa fa-chevron-left"></i></a>
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img src="/img/noteable-logo-2.jpg" class='logo' alt="Noteable" />
        <a class="navbar-brand" href="{{pathFor 'home'}}">Noteable</a>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav navbar-right">
          {{#if detailQuiz}}
          <li><a data-toggle="tooltip" data-placement="bottom" data-container="body" title="Assign to a Topic" href="#" class="show-topics"><i class="fa fa-fw fa-list"></i></a></li>
          <li><a data-toggle="tooltip" data-placement="bottom" data-container="body" title="Assign to an Article" href="#" class="show-articles"><i class="fa fa-fw fa-file-text"></i></a></li>
          <li><a data-toggle="tooltip" data-placement="bottom" data-container="body" title="Tag Article" href="#" class="show-tags tag-modal-trigger"><i class="fa fa-fw fa-tags"></i></a></li>
          <li><a data-toggle="tooltip" data-placement="bottom" data-container="body" title="Favorite Article" href="#" class="show-love"><i class="fa fa-fw {{favoriteIcon}}"></i></a></li>
          {{/if}}
          {{#if currentUser}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle nav-button-add"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus"></i> </a>
              <ul class="dropdown-menu">
                <li><a href="{{pathFor 'createArticle'}}">New Article</a></li>
                <li><a href="{{pathFor 'listTopic'}}">New Topic</a></li>
                <li><a href="{{pathFor 'createTemplate'}}">New Template</a></li>
                <li><a href="{{pathFor 'createQuiz'}}">New Quiz</a></li>
              </ul>
            </li>
            <li><img class="initial img-rounded" /></li>
          {{else}}
            {{> loginButtons}}
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</template>