<template name="templateHeader">
  <nav class="navbar navbar-fixed-top" role="navigation">
    <a href="#" class="app-back"><i class="fa fa-chevron-left"></i></a>
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img src="/img/noteable-logo-2.jpg" class='logo' alt="Noteable" />
        <a class="navbar-brand" href="{{pathFor 'home'}}">Noteable</a>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav navbar-right">
          <li><a data-toggle="tooltip" data-placement="bottom" data-container="body" title="View Settings" href="#" class="show-settings"><i class="fa fa-cog"></i></a></li>
          {{#if currentUser}}
            <li><img class="initial img-rounded" /></li>
          {{else}}
            {{> loginButtons}}
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</template>