<template name="templateLayout">
  {{> templateHeader }}
  <div id="wrapper" class='template-layout toggled tk-proxima-nova watch-keys'>
    <div id="sidebar-wrapper">
      <div id="sidebar-content" class='builder-option-content'>
        <ul class='builder-option-list'>
          {{#each builderOptionList}}
            <li>
              <div class='option-content' data-key="{{name}}">
              <i class="fa {{value.icon}}"></i> {{value.label}}
              </div>
              <div class="question-content">
                {{> Template.dynamic template=value.edit}}
              </div>
            </li>
          {{/each}}
        </ul>
        <button class='btn btn-option-list-action btn-clear-template'>Clear</button>
        <button class='btn btn-option-list-action btn-save-template'>Save</button>
      </div>
    </div>        
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            {{> yield}}
          </div>
        </div>
      </div>
          
    </div>
  </div>
{{> settingsTemplate }}
</template>