<template name="thisWeekSidebar">
  <div class="sidebar-selectable"><br>
    <div class="save-sidebar-button">
      <button class='btn-save-topics'>Save</button>
    </div>
    <div class="search">
      <input type="text" placeholder="search" class='form-control'>
    </div>
    <form id="add-this-week-topics">
      <ul class="sidebar-menu-items">
        {{#each topics}}
          <li>
            <input type="checkbox" name="{{_id}}" id="{{_id}}" style="display:none;">
            <label data-topic-id="{{_id}}" for="{{_id}}">
              <i class="fa fa-fw fa-square-o"></i> {{title}}
            </label>
          </li>
        {{/each}}
      </ul>        
    </form>
  </div>
</template>