<template name="createQuiz">
  <h5>New Quiz</h5>
  <div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#responsequiz" aria-controls="responsequiz" role="tab" data-toggle="tab">Response</a></li>
      <li role="presentation"><a href="#mcquiz" aria-controls="mcquiz" role="tab" data-toggle="tab">Multiple Choice</a></li>
      <li role="presentation"><a href="#tfquiz" aria-controls="tfquiz" role="tab" data-toggle="tab">True/False</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="responsequiz">
        {{> quickForm collection="ResponseQuizes" id="createResponseQuiz" type="insert" buttonClasses="btn-template-save" buttonContent="Save" fields="question, answer, comments, minLength" }}
          <div class="form-group">
    <button class="btn-template-close">Cancel</button>
  </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="mcquiz">
        {{> quickForm collection="MCQuizes" id="createMCQuiz" type="insert" buttonClasses="btn-template-save" buttonContent="Save" fields="question,choices,comments" }}
        <div class="form-group">
          <button class="btn-template-close">Cancel</button>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="tfquiz">
        {{> quickForm collection="TFQuizes" id="createTFQuiz" type="insert" buttonClasses="btn-template-save" buttonContent="Save" fields="question, answer, comments" }}
          <div class="form-group">
    <button class="btn-template-close">Cancel</button>
  </div>
      </div>
    </div>
  </div>
</template>