<!-- <template name="createTFQuiz">
  <form class="form create-tf-quiz main-content">
    <div class="form-group {{errorClass 'question'}}">
      <label class="control-label" for="question">Question</label>
      <div class="controls">
          <input name="question" id="question" type="text" value="" placeholder="Question" class="form-control"/>
          <span class="help-block">{{errorMessage 'question'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'answer'}}">
      <label class="control-label" for="answer">Answer</label>
      <div class="controls">
        <input type="radio" name="answer" value="1">True
        <input type="radio" name="answer" value="0">False
          <span class="help-block">{{errorMessage 'source'}}</span>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template> -->
<template name="createTFQuiz">
  {{> quickForm collection="TFQuizes" id="createTFQuiz" type="insert" buttonClasses="btn-template-save" buttonContent="Save" fields="question, answer, comments" }}
</template>