<!-- <template name="createMCQuiz">
  <form class="form create-mc-quiz main-content">
    <div class="form-group {{errorClass 'question'}}">
      <label class="control-label" for="question">Question</label>
      <div class="controls">
          <input name="question" id="question" type="text" value="" placeholder="What's the question" class="form-control"/>
          <span class="help-block">{{errorMessage 'question'}}</span>
      </div>
    </div>
    // need to change this to similar to angular repeat and have a checkbox next to each choice to mark answer
    <div class="form-group {{errorClass 'choice'}}">
      <label class="control-label" for="choice">Choices</label>
      <div class="controls">
          <input name="choice" id="choice" type="text" value="" placeholder="Who are the choices" class="form-control"/>
          <span class="help-block">{{errorMessage 'choice'}}</span>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template> -->
<template name="createMCQuiz">
  <h5>New Multiple Choice Question</h5>

{{#autoForm id="createMCQuiz" type="insert" collection='MCQuizes'}}
  <div class="form-group {{#if afFieldIsInvalid name='question'}}has-error{{/if}}">
    <label class="control-label">{{afFieldLabelText name='question'}}</label>
    {{> afFieldInput name='question'}}
    {{#if afFieldIsInvalid name='question'}}
    <span class="help-block">{{{afFieldMessage name='question'}}}</span>
    {{/if}}
  </div>
<!--   <div class="form-group">
    {{> afArrayField name='choices'}}
  </div> -->
  <div class="form-group">
    
   {{#afEachArrayItem name="choices"}}
      {{> afFieldInput name=this.name}}
        <input type="checkbox" >

    {{/afEachArrayItem}}

  </div>
  <div class="form-group {{#if afFieldIsInvalid name='comments'}}has-error{{/if}}">
    <label class="control-label">{{afFieldLabelText name='comments'}}</label>
    {{> afFieldInput name='comments'}}
    {{#if afFieldIsInvalid name='comments'}}
    <span class="help-block">{{{afFieldMessage name='comments'}}}</span>
    {{/if}}
  </div>
  <div class="form-group">
    <button type="submit" class="btn-template-save">Save</button>
    <button class="btn-template-close">Cancel</button>
  </div>
{{/autoForm}}

<!-- 

  {{> quickForm collection="MCQuizes" id="createMCQuiz" type="insert" buttonClasses="btn-template-save" buttonContent="Save" fields="question,choices,comments" }} -->
</template>