<template name="createReaction">
  <h5>{{ reaction_type }}</h5>
  <div class="tag-container hide">
    <label for='tags'>Tags</label>
    <input name='tags' class='tags-input' placeholder='+' type="text" />
  </div>
  <div class="question-container hide">
    <label for='question'>Question</label>
    <input name='question' class='form-control' type="text" />
  </div>
  <label style='margin-top:10px;'>Level of {{reaction_type}}</label>
  <div class="rating">
    <span class="small rating-bubble">1</span>
    <span class="small rating-bubble">2</span>
    <span class="small rating-bubble">3</span>
    <span class="small rating-bubble">4</span>
    <span class="small rating-bubble">5</span>
    <span class="small rating-bubble">6</span>
    <span class="small rating-bubble">7</span>
    <span class="small rating-bubble">8</span>
    <span class="small rating-bubble">9</span>
    <span class="small rating-bubble">10</span>
  </div>
  {{> quickForm collection="Reactions" id="createReaction" type="insert" buttonClasses="btn-template-save" buttonContent="Save" fields="text, reaction" }}
    <div class="form-group">
    <button class="btn-template-close">Cancel</button>
  </div>
</template>
