<template name="detailReaction">
  <h5>Reaction</h5>
  <div class="tag-container {{hasTags}}">
    <label for='tags'>Tags</label>
  <input name='tags' class='tags-input' value="{{tags}}" placeholder='+' type="text" />
  </div>
  <div class="question-container {{hasQuestion}}">
    <label for='question'>Question</label>
  <input name='question' class='form-control' type="text" value="{{question}}" />
  </div>
  {{> quickForm collection="Reactions" id=makeUniqueID type="update" buttonClasses="btn-template-save" buttonContent="Save" doc=this fields="text, reaction, agreement_score" }}
  <div class="form-group">
    <button class="btn-template-delete">Delete</button>
  </div>
</template>