<template name="detailTemplate">
    <div class="builder-question-content">
      <h2><input type="text" class='template-title' value="{{title}}" placeholder="name your template..."></h2>
      <textarea class='template-description' placeholder='enter brief description' value="{{description}}"></textarea>
      <ul class='builder-question-list'>
        {{#each questions}}
          <li>
            <div class='option-content' data-key="{{meta.name}}">
            <i class="fa {{meta.icon}}"></i> {{value.label}}
            </div>
            <div class="question-content">
              {{> Template.dynamic template=meta.edit}}
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
</template>