<template name="settingsTemplate">
    <div class="overlay-slide-outline overlay-slide-outline-slideup template-settings">
      <button type="button" class="overlay-slide-outline-close">Close</button>
      <!-- <h2 style='text-align:center;'>You don't have any key concept items yet...</h2> -->
      <h2>Template Settings</h2>
      <div class="container">
      <div class="row">
      <h3>This is a Setting Question</h3>
      <p>This is a setting answer</p>
    </div>
    </div>
    </div>
</template>