<template name="reviewFlashcards">
  <div class="main-content">
    <div id="flashcard-review">
      <h2>Flashcard Review Main</h2>
<!--       <div class="flip">
        <div class="card"> 
            <div class="face front"> 
                Sup
            </div> 
            <div class="face back"> 
                Sup
            </div> 
        </div> 
      </div> -->
      <div class="flip"> 
          <div class="card"> 
              <div class="face front"> 
                  Front
              </div> 
              <div class="face back"> 
                  Back
              </div> 
          </div> 
      </div> 

    </div>
  </div>

</template>




