<template name="quizMCQuiz">
  <div class="quiz-item">
    <div class="prompt-container">
      <h3 class="prompt">{{question}}</h3>
    </div>
    <div class="prompt-answer-container">

      <ul class='sidebar-menu-items'>
        {{#each addIndex choices}}
        <li class='option-item'>
          <i class="fa fa-circle-o"></i>
          <input name="choice" id='choice{{index}}' type="radio" class='item-choice item-multiple-choice-radio' />
          <label for='choice{{index}}' class='item-option-text'>{{value}}</label>
        </li>
        {{/each}}
      </ul>

    </div>
    <div class="answer-container">
      <h3>Answer</h3>
      <p>{{answer_label}}</p>
    </div>
  </div>
</template>


