<template name="createFact">
<h5>Fact</h5>
  <div class="tag-container hide">
    <label for='tags'>Tags</label>
    <input name='tags' class='tags-input' placeholder='+' type="text" />
  </div>
  <div class="question-container hide">
    <label for='question'>Question</label>
    <input name='question' class='form-control' type="text" />
  </div>
  {{> quickForm collection="Facts" id="createFact" type="insert" buttonClasses="btn-template-save" buttonContent="Save" fields="fact,source,comments" }}
  <div class="form-group">
    <button class="btn-template-close">Cancel</button>
  </div>
</template>