<template name="addInteractionModal">
<div class="modal fade" id="addInteractionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <h4 class="modal-title" id="myModalLabel"><i class="back fa fa-chevron-left {{showBack}}"></i> Add Item</h4>
      </div>
      <div class="modal-body">
        {{> Template.dynamic template=currentTemplate data=hiData}}
      </div>
    </div>
  </div>
</div>
</template>