<template name="createArticle">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 create-article main-content">
        <a href="#" class="add add-link">+</a>
<!--         <button class='btn trigger-popup' title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?" data-trigger='manual'>Trigger popup</button> -->
        <h2 class='title'>New Article</h2>
        <div class="create-article-container">
          {{> quickForm collection="Articles" id="createArticle" type="insert" buttonClasses="btn-template-save" buttonContent="Save" fields="url, source, title, author, published, summary,  html" }}
          <div class="form-group">
            <button class="btn-template-close">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Article Link</h4>
      </div>
      <div class="modal-body">
        <input type="text" name='addlink' class='form-control' placeholder="add link url" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn import-article">Add Article</button>
      </div>
    </div>
  </div>
</div>

</template>