<template name="listArticle">
  <div class="container page">
    <div class="row">
      <div class="col-md-3 blog-sidebar">
        {{> mainSidebar }}
      </div>
      <div class="col-md-8 list-article main-content">
        <a href="{{pathFor 'createArticle'}}" class="add">+</a>
        <h2 class='title'>My Articles</h2>
        <div class="topic-list">
          {{#each articles}}
            {{> listItemArticle}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>