<template name="listArticleSidebar">
  <div id="filter">
        <div class="sidebar-search">
            <input type="text" placeholder="Keyword" class='form-control'>
          </div>
    <button class="apply-filter btn btn-default">
      Apply Filters
    </button>
        <hr>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <a class="collapsed trigger"  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" expanded="false"  aria-controls="collapseThree">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <span class="fa fa-fw fa-bars"></span> General Search <i class="fa fa-fw fa-chevron-right"></i>
      </h4>
    </div>
    </a>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body general-filter-container">
       <div class="input-daterange">
            <input type="text" placeholder="from" class="input-small"  />
            <span class="add-on">to</span>
            <input type="text" placeholder="to" class="input-small"  />
        </div>
        <hr>
        <div class='general-option'>
          <i class="fa fa-fw fa-square-o"></i> <span class='fa fa-heart fa-fw'></span> Favorites
        </div>
        <div class='general-option'>
          <i class="fa fa-fw fa-square-o"></i> <span class='fa fa-archive fa-fw'></span> Archived
        </div>
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <a class="collapsed trigger"  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" expanded="false"  aria-controls="collapseOne">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span class="fa fa-fw fa-list"></span>
          Find By Topics <i class="fa fa-fw fa-chevron-right"></i>
        
      </h4>
    </div>
    </a>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="sidebar-selectable">
          <div class="search">
            <input type="text" id="topic-search" placeholder="search" class='form-control'>
          </div>
          <form id="add-this-week-topics">
            <ul class="sidebar-menu-items">
              {{#each topics}}
              <li>
                <input type="checkbox" name="{{_id}}" id="{{_id}}" style="display:none;">
                <label data-topic-id="{{_id}}" for="{{_id}}"><i class="fa fa-fw fa-square-o"></i> {{title}}</label>
              </li>
              {{/each}}
            </ul>        
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <a class="collapsed trigger" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <span class="fa fa-fw fa-tags"></span>
          Find By Tags <i class="fa fa-fw fa-chevron-right"></i>
      </h4>
    </div>
    </a>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="sidebar-selectable">
          <div class="search">
            <input id="tag-search" type="text" placeholder="search" class='form-control'>
          </div>
          <form id="add-this-week-topics">
            <ul class="sidebar-menu-items">
              {{#each myTags}}
              <li>
                <input type="checkbox" name="{{_id}}" id="{{_id}}" style="display:none;">
                <label data-topic-id="{{_id}}" for="{{_id}}"><i class="fa fa-fw fa-square-o"></i> {{_id}}</label>
              </li>
              {{/each}}
            </ul>        
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
  </div>
  <div id="right-overlay">
    {{> Template.dynamic template=whichOne }}
  </div>
<!-- <ul class="nav nav-tabs">
  <li class="active"><a href="#pre" data-toggle="tab" aria-expanded="true">Pre</a></li>
  <li class=""><a href="#post" data-toggle="tab" aria-expanded="false">Post</a></li>
  <li class=""><a href="#set" data-toggle="tab" aria-expanded="false">Set</a></li>
</ul>
<div class="tab-content">
                <div class="tab-pane fade active in" id="pre">
                  <h5>Select Pre-Reading Template</h5>
                <div class="sidebar-selectable">
                  <div class="search">
                    <input type="text" placeholder="search" class='form-control'>
                  </div>
                  <ul class="sidebar-menu-items pre-template-options">
                    {{#each myTemplates}}
                    <li data-template-id="{{_id}}">
                      <i class="fa fa-fw fa-square-o"></i>
                      <span>{{title}}</span>
                    </li>
                    {{/each}}
                  </ul>        
                </div>

                </div>
                <div class="tab-pane fade" id="post">
                  <h5>Select Post-Reading Template</h5>
                  <div class="sidebar-selectable">
                  <ul class="sidebar-menu-items post-template-options">
                    {{#each myTemplates}}
                    <li data-template-id="{{_id}}">
                      <i class="fa fa-fw fa-square-o"></i>
                      <span>{{title}}</span>
                    </li>
                    {{/each}}
                  </ul>
                </div></div>
                <div class="tab-pane fade" id="set">
                  <h5>Select Template Set</h5>
                  <div class="sidebar-selectable">
                   <ul class="sidebar-menu-items">
                    {{#each myTemplates}}
                    <li>
                      <i class="fa fa-fw fa-square-o"></i>
                      <span>{{title}}</span>
                    </li>
                    {{/each}}
                  </ul>
              </div></div>
              <a href="{{pathFor 'detailArticle'}}">Continue to Article</a>
              <button class='btn btn-default btn-save-template-assignment'>Save</button>
            </div> -->
</template>