<template name="listInteractions">
<div id="article-interaction-grid" class="overlay overlay-contentpush">
    <button type="button" class="overlay-close">Close</button>
    <div id="overlay-sidebar" class="sidebar">

        <section id="sidebar-search">
<!--             <div class="clearfix">
                <strong>Filter</strong> <span class="interaction-total">(#)</span>
            </div> -->
          <div class="clearfix">
                <input type="checkbox" id="interaction-note" name="note" value="1">
                <label for="interaction-note" class="checkbox field">
                    <strong>Note </strong> <span class="chbx"></span>
                </label>
            </div>
            <div class="clearfix">
                <input type="checkbox" id="interaction-quote" name="quote" value="1">
                <label for="interaction-quote" class="checkbox field">
                    <strong>Quote </strong> <span class="chbx"></span>
                </label>
            </div>
          <div class="clearfix">
                <input type="checkbox" id="interaction-fact" name="fact" value="1">
                <label for="interaction-fact" class="checkbox field">
                    <strong>Fact </strong> <span class="chbx"></span>
                </label>
            </div>
          <div class="clearfix">
                <input type="checkbox" id="interaction-response-quiz" name="response_quiz" value="1">
                <label for="interaction-response-quiz" class="checkbox field">
                    <strong>Response Quiz </strong>  <span class="chbx"></span>
                </label>
            </div>
            <div class="clearfix">
                <input type="checkbox" id="interaction-mc-quiz" name="mc_quiz" value="1">
                <label for="interaction-mc-quiz" class="checkbox field">
                    <strong>Multiple Choice Quiz </strong>  <span class="chbx"></span>
                </label>
            </div>
            <div class="clearfix">
                <input type="checkbox" id="interaction-tf-quiz" name="tf_quiz" value="1">
                <label for="interaction-tf-quiz" class="checkbox field">
                    <strong>True False Quiz </strong>  <span class="chbx"></span>
                </label>
            </div>
          <div class="clearfix">
                <input type="checkbox" id="interaction-flashcard" name="flashcard" value="1">
                <label for="interaction-flashcard" class="checkbox field">
                    <strong>Flashcard </strong>  <span class="chbx"></span>
                </label>
            </div>
          <div class="clearfix">
                <input type="checkbox" id="interaction-idea" name="idea" value="1">
                <label for="interaction-idea" class="checkbox field">
                    <strong>New Idea </strong>  <span class="chbx"></span>
                </label>
            </div>
          <div class="clearfix">
                <input type="checkbox" id="interaction-concept" name="concept" value="1">
                <label for="interaction-concept" class="checkbox field">
                    <strong>Key Concept </strong>  <span class="chbx"></span>
                </label>
            </div>
            <div class="clearfix">
                <input type="checkbox" id="interaction-definition" name="definition" value="1">
                <label for="interaction-definition" class="checkbox field">
                    <strong>Definition </strong>  <span class="chbx"></span>
                </label>
            </div>
          <div class="clearfix">
                <input type="checkbox" id="interaction-agreement" name="agree" value="1">
                <label for="interaction-agreement" class="checkbox field">
                    <strong>Agreement </strong>  <span class="chbx"></span>
                </label>
            </div>
          <div class="clearfix">
                <input type="checkbox" id="interaction-disagreement" name="disagree" value="1">
                <label for="interaction-disagreement" class="checkbox field">
                    <strong>Disagree </strong>  <span class="chbx"></span>
                </label>
            </div>
          <div class="clearfix">
                <input type="checkbox" id="interaction-timeline" name="timeline" value="1">
                <label for="interaction-timeline" class="checkbox field">
                    <strong>Timeline </strong>  <span class="chbx"></span>
                </label>
            </div>
            <div class="clearfix">
                <input type="checkbox" id="interaction-verify" name="verify" value="1">
                <label for="interaction-verify" class="checkbox field">
                    <strong>Double Check </strong>  <span class="chbx"></span>
                </label>
            </div>
          <div class="clearfix">
                <input type="checkbox" id="interaction-inspiration" name="inspiration" value="1">
                <label for="interaction-inspiration" class="checkbox field">
                    <strong>Inspiration </strong>  <span class="chbx"></span>
                </label>
            </div>


        </section>
    </div>
    <div id="grid-gallery" class="grid-gallery">

<section class="grid-wrap">
    <ul class="grid">
        {{#if interactions.count}}
            {{#each interactions}}
                {{> itemInteraction}}
            {{/each}}
        {{/if}}
                
    </ul>
    {{#if empty_interaction_items}}
        <h2>You haven't created any interaction elements yet</h2>
    {{/if}}
</section>
<section class="slideshow">
                    <ul>
                        {{#each interactions}}
  <li>
      <figure>
        {{> Template.dynamic template=detailTemplate data=data}}
      </figure>
  </li>
                        {{/each}}
                
                    </ul>
                    <nav>
                        <span class="icon nav-prev">
                            <i class="fa fa-chevron-left"></i>
                        </span>
                        <span class="icon nav-next">
                            <i class="fa fa-chevron-right"></i>
                        </span>
                        <span class="icon nav-close">
                            <i class="fa fa-times"></i>
                        </span>
                    </nav>
                    <div class="info-keys icon">Navigate with arrow keys
                        <i class="fa fa-chevron-left left"></i>
                        <i class="fa fa-chevron-right right"></i>
                    </div>
    </section>
</div>
</div>
</template>

