<template name="listItemArticle">
  <div class="blog-post">
    <h2 class="blog-post-title {{#if topic_title}} has-topic {{/if}} {{#if has_template}} has-template {{/if}}" ><a href="{{pathFor 'detailArticle'}}">{{title}}</a>
      <div class="blog-post-topic">
        {{#if topic_title}}
          <span class="highlighted-topic">{{topic_title}}</span>
        {{/if}}
        {{#if has_template}}
        <i class="fa fa-fw fa-file-text-o has-template"></i>
        {{/if}}
      </div></h2>
    <p class="blog-post-meta">{{published_clean}} - <a href="#">{{author}}</a> - <a target="_blank" href="{{url}}">{{ source }}</a></p>
    <p>{{summary}}</p>
    <div class="item-footer">
<ul class='action-group clearfix'>
          <li><a data-toggle="tooltip" data-placement="bottom" data-container="body" title="Tag Article" href="#" data-tags="{{tags}}" class="show-tags tag-modal-trigger"><i class="fa fa-tags fa-fw"></i></a></li>
          <li><a data-toggle="tooltip" data-placement="bottom" data-container="body" title="Take Quiz" href="{{pathFor 'takeArticleQuiz'}}" class="view-quiz"><i class="fa fa-bolt fa-fw"></i></a></li>
          <li><a data-toggle="tooltip" data-placement="bottom" data-container="body" title="Assign Topic" href="#" class="pick-topic"><i class="fa fa-bars fa-fw"></i></a></li>
          <li><a data-toggle="tooltip" data-placement="bottom" data-container="body" title="Pick Template" href="#" class="pick-template"><i class="fa fa-file-text-o fa-fw"></i></a></li>
          <li><a data-toggle="tooltip" data-placement="bottom" data-container="body" title="Favorite Article" href="#" class="show-love"><i class="fa {{favoriteIcon}} fa-fw"></i></a></li>
          <li><a data-toggle="tooltip" data-placement="bottom" data-container="body" title="Archive Article" href="#" class="archive"><i class="fa fa-archive fa-fw"></i></a></li>
          <li><a data-toggle="tooltip" data-placement="bottom" data-container="body" title="Delete Article" href="#" class="delete"><i class="fa fa-trash-o fa-fw"></i></a></li>
</ul>
    </div>


  </div>
  <hr>
<!--   <div class="list-item-article">
    <div class="article-content">
      <h3><a href="{{pathFor 'detailArticle'}}">{{title}}</a></h3>
    </div>
  </div> -->
</template>