<template name="outlineItem">
  <!-- <li class="list-group-item">{{summary}}</li> -->
  <div>
  <div class="well well-sm outline-item {{indent}}">
    <div class="circle"><i class="fa {{meta.icon}}"></i></div>
    <p class="primary">{{summary}}</p>
    <p class="secondary">{{secondary}}</p>
    <span class="remove-outline"><i class="fa fa-times"></i></span>
  </div>
  {{#if comments}}
  <div class="well well-sm outline-item comment">
    <div class="circle"><i class="fa fa-comment-o"></i></div>
    <span class="name">{{comments}}</span>
  </div>
  {{/if}}
  
  </div>
</template>