<template name="outlineArticle">
    <div class="overlay-slide-outline overlay-slide-outline-slideup">
      <a href="#" class="add">+</a>
      <button type="button" class="overlay-slide-outline-close">Close</button>
      <!-- <h2 style='text-align:center;'>You don't have any key concept items yet...</h2> -->
      <h2>Article Outline</h2>
      <div class="container">
      <div class="row">
        <section class='sortable-outline'>
        {{#sortable items=interactions}}
          {{> outlineItem }}
        {{/sortable}}
        {{#if noOutlines}}
        <h2>You haven't created any elements yet</h2>
        {{/if}}
      </section>
    </div>
    </div>
    </div>
</template>