<template name="detailSettings">
  <div class="detail-settings main-content">




  <div class="container" style='position:relative;'>
    <h3 >Choose Colors</h3>
    <button style="position:absolute; top:0px; right:25px;" class='btn btn-primary'>Get New Colors</button>
    <select style="position:absolute; top:0px; right:105px;" name="colorHue" id="colorHue">
        <option value="random">Random</option>
        <option value="red">Red</option>
        <option value="orange">Orange</option>
        <option value="yellow">Yellow</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
        <option value="purple">Purple</option>
        <option value="pink">Pink</option>
        <option value="monochrome">Grey</option>
    </select>
    <hr>

    <div style='max-height:500px; max-width:450px; float:left; '>
      <ul>
        {{#each colors}}
          <li style="background-color: {{this}};" class="swatch" draggable="true"></li>
        {{/each}}
      </ul>
    </div>

    <div style='max-width:475px; float:right;'>
  <ul class='add-interaction-list clearfix list-group'>
    {{#each interactionList }}
      {{#if value.outline}}
      <li >
          <div style='display:inline-block' class="image-placeholder"><i class="fa {{value.icon}}"></i></div>
      </li>
      {{/if}}
    {{/each}}
  </ul>
    </div>
  </div>

  </div>
</template>