<template name="detailSettings">
  <div class="detail-settings main-content">
  <section class="articles settings-section">
    <h3>Articles</h3>
  </section>
    <section class="templates settings-section">
    <h3>Templates</h3>
  </section>
  <section class="quizes settings-section">
    <h3>Quizes</h3>
  </section>
  <section class="container color settings-section" style='position:relative;'>
    <h3>Choose Colors</h3>
    <button style="position:absolute; top:0px; right:25px;" class='btn btn-primary'>Get New Colors</button>
    <div style="position:absolute; top:0px; right:175px;" class="dropdown" id='colorHue'>
      <button class="btn btn-default dropdown-toggle" type="button" id="colorDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{colorSelection}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#" data-value="random">Random</a></li>
        <li><a href="#" data-value="red">Red</a></li>
        <li><a href="#" data-value="orange">Orange</a></li>
        <li><a href="#" data-value="yellow">Yellow</a></li>
        <li><a href="#" data-value="green">Green</a></li>
        <li><a href="#" data-value="blue">Blue</a></li>
        <li><a href="#" data-value="purple">Purple</a></li>
        <li><a href="#" data-value="pink">Pink</a></li>
        <li><a href="#" data-value="monochrome">Grey</a></li>
      </ul>
    </div>
    <div style='max-height:500px; max-width:450px; float:left; '>
      <ul>
        {{#each colors}}
          <li style="background-color: {{this}};" class="swatch" draggable="true"></li>
        {{/each}}
      </ul>
    </div>

    <div style='max-width:475px; float:right;'>
  <ul class='add-interaction-list clearfix list-group'>
    {{#each interactionList }}
      {{#if value.outline}}
      <li >
          <div style='display:inline-block' class="image-placeholder"><i class="fa {{value.icon}}"></i></div>
      </li>
      {{/if}}
    {{/each}}
  </ul>
    </div>
  </section>
  <section class="account settings-section">
    <h3>Account</h3>
  </section>
  <section class="general settings-section">
    <h3>General</h3>
  </section>


  </div>
</template>