<template name="detailNote">
  <h5>Note</h5>
  <div class="tag-container hide">
    <label for='tags'>Tags</label>
  <input name='tags' class='tags-input' value="{{tags}}" placeholder='+' type="text" />
  </div>
  <div class="question-container {{hasQuestion}}">
    <label for='question'>Question</label>
  <input name='question' class='form-control' type="text" value="{{question}}" />
  </div>
  {{> quickForm collection="Notes" id=makeUniqueID type="update" buttonClasses="btn-template-save" buttonContent="Update" doc=this fields="note,comments" }}
  <div class="form-group">
    <button class="btn-template-delete">Delete</button>
  </div>
</template>